<div nz-content class="container">
  <div class="title">
    <h2>Datasets</h2>
  </div>
  <div nz-row [nzGutter]="8" nzType="flex" nzJustify="space-between">
    <div nz-col [nzSpan]="8">
      <nz-card [nzTitle]="citiBike">
        <p class="data">Trip information for each bike from 2013 to 2018</p>
        <p class="data">Includes start station, end station and user info</p>
      </nz-card>
      <ng-template #citiBike>
        <a href="https://www.citibikenyc.com/system-data" style="color: black;">Citi Bike Trip Histories</a>
      </ng-template>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card [nzTitle]="facilities">
        <p class="data">GeoJson data of New York facilities</p>
        <p class="data">Includes historical sites, education, infrastructure</p>
      </nz-card>
      <ng-template #facilities>
        <a href="https://capitalplanning.nyc.gov/map/facilities#10/40.7128/-74.0807" style="color: black;">NYC Facilities</a>
      </ng-template>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card [nzTitle]="weather">
        <p class="data">New York precipitation data in 2016</p>
        <p>
          <br>
        </p>
      </nz-card>
      <ng-template #weather>
        <a href="https://www.kaggle.com/mathijs/weather-data-in-new-york-city-2016" style="color: black;">Weather</a>
      </ng-template>
    </div>
  </div>
  <div class="title">
    <h2>Meet our Team</h2>
  </div>
  <div nz-row [nzGutter]="8" nzType="flex" nzJustify="space-between">
    <div nz-col [nzSpan]="6">
      <nz-card nzHoverable [nzCover]="ziweiImage">
        <nz-card-meta [nzTitle]="ziweiLink">
          <ng-template #ziweiImage>
            <img src="src/assets/images/ziwei.jpeg" alt="ziwei" />
          </ng-template>
          <ng-template #ziweiLink>
            <span class="name">Ziwei Yuan</span>
          </ng-template>
        </nz-card-meta>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-card nzHoverable [nzCover]="tongImage">
        <nz-card-meta [nzTitle]="tongLink">
          <ng-template #tongImage>
            <img src="src/assets/images/tong.jpeg" alt="tong" />
          </ng-template>
          <ng-template #tongLink>
            <span class="name">Tong Lyu</span>
          </ng-template>
        </nz-card-meta>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-card nzHoverable [nzCover]="skyImage">
        <nz-card-meta [nzTitle]="skyLink">
          <ng-template #skyImage>
            <img src="src/assets/images/tianyang.jpeg" alt="sky" />
          </ng-template>
          <ng-template #skyLink>
            <span class="name">Tianyang Li</span>
          </ng-template>
        </nz-card-meta>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-card nzHoverable [nzCover]="jingImage">
        <nz-card-meta [nzTitle]="jingLink">
          <ng-template #jingImage>
            <img src="src/assets/images/jing.jpeg" alt="jing" />
          </ng-template>
          <ng-template #jingLink>
            <span class="name">Jing Zhang</span>
          </ng-template>
        </nz-card-meta>
      </nz-card>
    </div>
  </div>
</div>