:host ::ng-deep
.container {
    min-width: 100vw;
    height: 100%;
    background: #ececec;
}

:host ::ng-deep .title-container {
    padding-top: 20px;
    text-align: center;
}
:host ::ng-deep .pieYear{font-family: sans-serif;
    text-anchor: middle;
    font-size: 14px}