<div class="container">
    <div class="title-container">
      <h2 class="title">Age Effect</h2>
    </div>
    <div>
    <div style = "text-align: center">
        <br>
        <button id="top-1">top-1</button>
        <button id="top-2">top-2</button>
        <button id="top-3">top-3</button>
        <button id="top-4">top-4</button>
        <button id="top-5">top-5</button>
        <button id="top-6">top-6</button>
        <button id="top-7">top-7</button>
        <button id="top-8">top-8</button>
        <button id="top-9">top-9</button>
        <button id="top-10">top-10</button>
      </div>
      <div>
        
        <br>
        <svg id="pie-chart" width = "200" height = "160"></svg>
        
      </div>
    <div style = "text-align: center">
     
          <svg id="svg2013" width = "200" height = "200"></svg>
          <svg id="svg2014" width = "200" height = "200"></svg>
          <svg id="svg2015" width = "200" height = "200"></svg>
          <svg id="svg2016" width = "200" height = "200"></svg>
          <svg id="svg2017" width = "200" height = "200"></svg>
          <svg id="svg2018" width = "200" height = "200"></svg>
                      
      
    </div>
  </div>
  </div>