nz-dropdown-button {
    margin-right: 8px;
}

nz-select {
    margin-right: 8px;
}

#select {
    margin-top: 0;
    margin-bottom: 10px;
}

:host ::ng-deep .overlay {
    fill: none;
    pointer-events: all;
}

:host ::ng-deep .hover-line {
    stroke: #B74779;
    stroke-width: 2px;
    stroke-dasharray: 3,3;
}