<div class="app">
    <header class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Map</a>
            <a class="navbar-brand" href="#">Other</a>
        </div>
    </header>

    <nz-content class="main">
        <div id="side">
            <h5>Station Information</h5>
            <app-select-attr></app-select-attr>
        </div>
        <app-map-box></app-map-box>
    </nz-content>
    <nz-footer style="text-align: center;">©2018 Journey to the west</nz-footer>
</div>