/* Top Navigation Bar */
header {
    padding-left: 50px;
    background-color: #563d7c;
    display: flex;
    align-items: center;
    box-shadow: -1px 0 5px 0 #1D428A;
    height: 8vh;
}

.navbar-brand {
    color: whitesmoke;
}

/* Main component */
.main {
    display: flex;
    width: 100%;
    height: 92vh;
}

#side {
    background-color: gainsboro;
    width: 25vw;
    padding: 10px;
    font-size: 0.8em;
}


