<!-- <div class="home">
  <object type="image/svg+xml" data="../../assets/images/home1.svg">
   
    <img src="../../assets/images/home1.svg" />
  </object>

  <svg src="../../assets/images/home1.svg" /> 
</div> -->

<div class="carousel-item active">
    <div class="container">
        <div class="carousel-caption"  >
            <h1>New York Sharing Bike Visualization</h1>
            <p style="font-size:30px;margin:2em;">Explore sharing bike stations?<br>See if we can help!</p>
            <!-- <button nz-button nzType="primary" [nzSize]="size" (click)="redirect()"><span>Explore<i nz-icon type="arrow-right"></i></span></button> -->
        </div>
    </div>
    <img src="src/assets/images/home1.jpeg"  alt="Home Page">
</div>