<body style = "background-color: #ececec">
<div class="container">
  <div class="title-container">
    <h2 class="title">Infrastructure Effect</h2>
  </div>
  <div class="chart-container" style="text-align:center">
    <button id="zoom_in" nz-button nzType="default">+</button>
    <button id="zoom_out" nz-button nzType="default">-</button>
    <button id="zoom_init" nz-button nzType="default">Init</button>
    <div>
      <br>
    </div>
    <nz-content class="main row">
        
        <div class="col-sm-12 col-md-12" style="padding-left: 0; padding-right: 0;float:left;">
            <svg id="chart3" width="500" height="750"></svg>
        </div>
      
      
    </nz-content>

    <div id='neighborhoodPopover'> </div>
    <div id='detail'> </div>
  </div>
</div>
</body>